@import "./common/colors";
// Prefix
@css-prefix : kui;

// background color 赤色 橙色 墨绿 藏青 蓝色 雅黑 银灰
@kui-bg-red:@bg-red;
@kui-bg-orange:@bg-orange;
@kui-bg-green:@bg-green;
@kui-bg-cyan:@bg-cyan;
@kui-bg-blue:@bg-blue;
@kui-bg-black:@bg-black;
@kui-bg-gray:@bg-gray;

//base


//layout
@layout-body-background:#fff;





