@import "./common/colors";
// Prefix
@css-prefix : kui;

// background color 赤色 橙色 墨绿 藏青 蓝色 雅黑 银灰
@kui-bg-red:@bg-red;
@kui-bg-orange:@bg-orange;
@kui-bg-green:@bg-green;
@kui-bg-cyan:@bg-cyan;
@kui-bg-blue:@bg-blue;
@kui-bg-black:@bg-black;
@kui-bg-gray:@bg-gray;

//base
@default-color:@color-FF;
@primary-color:@color-009688;
@normal-color:@bg-blue;
@warm-color:@bg-orange;
@danger-color:@bg-red;
@disabled-color:@color-C9;


// Button
// ***base***
@btn-border-radius:100px;
@btn-border-radius-small:2px;
@btn-height-base:38px;
@btn-padding-base :0 18px;

// *** default ***
@btn-bg-default:@default-color;
@btn-border-default:1px solid @color-C9;
// *** primary ***
@btn-bg-primary:@primary-color;
@btn-border-primary:1px solid @primary-color;
// *** normal ***
@btn-bg-normal:@normal-color;
@btn-border-normal:1px solid @normal-color;
// *** warm ***
@btn-bg-warm:@warm-color;
@btn-border-warm:1px solid @warm-color;
// *** danger ***
@btn-bg-danger:@danger-color;
@btn-border-danger:1px solid @danger-color;
// *** disabled ***
@btn-bg-disabled:#fbfbfb;
@btn-border-disabled:1px solid #e6e6e6;


//layout
@layout-body-background:#fff;
@layout-header-background:#393D49;
@layout-header-height:13px;





